.main {
	background-image: url('../img/intro.jpg');
	height: 550px;
	padding-top: 55px;

}

.main p {
	margin-bottom: 40px;
}

.download {
	background-color:rgba(238,68,95,0.9);
	border-radius:4px;
	color: #fff;
	padding: 8px 30px;
	transition:box-shadow 0.5s;
}

.download:hover {
	background-color:rgba(238,68,95,1);
	box-shadow:0px 1px 6px rgba(0,0,0,0.6);
	border-radius:4px;
	color: #fff;
	padding: 8px 30px;
	text-decoration: none;
	transition:box-shadow 0.25s;
}